<style>
  .footer-inner ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .footer-inner li a{
    display: block;
    width: 60px;
    margin-right: 20px;
  }
</style>

<footer class="footer">
  <div class="footer-inner">
    <ul>
      <li><a href="https://carto.com">CARTO</a></li>
      <li><a href="https://carto.com/help">Help Center</a></li>
      <li><a href="https://carto.com/developers">Developers</a></li>
    </ul>    
  </div>
</footer>
