<div class="container">
  <section>
    <h1>CARTO Support Center</h1>
    <p>
      Please 
      <a href="/hc/en-us/signin?return_to=https%3A%2F%2Fcartoteam.zendesk.com%2Fhc%2Fen-us%2Frequests&locale=en-us">
        sign-in 
      </a> to get access
      <a href="/hc/en-us/requests">
        your cases
      </a>.
    </p>
  </section>
</div>
