<div class="container">
  <section class="section activity">
    {{#if settings.show_recent_activity}}
      {{recent_activity}}
    {{/if}}
  </section>
</div>

<script>
  window.location.replace(window.location.origin + '/hc/en-us/requests');
</script>